@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #777;
}

body{
    background-color: #8A51FC;
}

#logo-principal {
    width: 300px;
    height: 300px;
    margin: 5px auto;
    display: block;

}

main{
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 375px;
    margin: 0px auto 10px;
    padding: 0px 24px;
    display: block;
    padding: 44px 24px 40px; /*1-cima 2-lados 3-baixo*/
}

label{
    font-size: 14px;
    font-weight: 400;
}

select{
    border-radius: 4px;
    border: 1px solid #BBB;
    background: #FFF;
    height: 48px;
    width: 100%;
    padding-left: 18px;
    color: #555;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 38px;
    cursor: pointer;
    /*appearance: none; tira a setinha da barra de seleção*/
}

section{
    border: 2px solid #8A51FC; /*1-grossura da borda, 2- estilo, 3- cor*/
    border-radius: 20px;
    margin: 20px auto;
}



div{
    margin: 5px auto;
    text-align: center;
}

.input-currency{
    height: 48px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #BBB;
    background: #FFF;
    margin-bottom: 23px;
    padding-left: 20px;
    font-size: 16px; /*tamanho da fonte*/
    font-weight: 700;/*grossura da fonte*/
    line-height: 18px;
}



button{
    width: 100%;
    height: 48px;
    border-radius: 5px;
    background: #772FD3;
    color: #FFF;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    border: none;

}
button:hover{
    opacity: 0.9;
}
button:active{
    opacity: 0.8;

}
span, .value-to-convert, .value-converted{ /*Apicará para as TAG's e para as classes especificadas*/
    color: #555;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
}

#seta{
    display: block;
    margin: 15px auto;
}

#currency-Converted-Img{
    width: 52px;
    height: 52px;
}
@media screen and (max-width: 500px) {
    #logo-principal {
        width: 200px;
        height: 200px;
}
    
    main {
        width: 90%;
        padding: 20px;
}
}